<div class="about-main">
  <h2>バケットリストとは</h2>
  <p>
    バケットリスト(bucket list) ＝ 「死ぬまでにやりたい事」を指します。<br>
    人生で成し遂げたい事をあげていき、<br>
    リストを順番に達成する事で人生の充実度がUPするでしょう。<br>
    <br>早速書き出してみましょう。
  </p>
</div>